/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    top:20%;
    max-width: 1200px;
    width: 440px;
    height: 350px;
    border: 3px solid rgba(0,136,169,0.8);
    z-index: 5;
    bottom: 50%;
    right: 35%;
    background-color: #F8F4F3;
  }
  
  label b{
    padding-left: 10px;
  }
  .form-container h1{
    text-align: center;
    padding-top: 5px;
  }

  .form-container {
    max-width:420px;
    /*border: 2px solid black;*/
  }
  

  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    /*margin: 5px 0 22px 0;*/
    border: none;
    background: #f1f1f1;
  }
  

  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  

  .form-container .btn {
    background-color: transparent;
    color: #0088a9cc;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #0088a9cc;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    height: 40px;
    opacity: 0.8;
    margin-left: 25%;
    margin-top: 15px;
    
  }
  

  .form-container .cancel {
    background-color: transparent;
    border-radius: 10px;
  }
  
 
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
    background-color: #0088a9cc;
    color: white;
  }